<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!-- <node   pkg="gmapping"   type="slam_gmapping" name="mapping">
                   <param name="scan" value="/scanFT" />
                   <param name="base_frame" value="/baselink"/>
                   <param name="map_update_interval" value="0.1" />
				   <param name="delta" value="0.2 "/>
                   <param name="particle" value="5" />
                   <param name="iterations" value="1" />
                   <param name="maxUrange" value="10" />
                   <param name="maxRange" value="10" />
                   <param name="linearUpdate" value="0.1" />
                   <param name="xmin" value="-10" />
                   <param name="xmax" value="10" />
                   <param name="ymax" value="10" />
                   <param name="ymin" value="-10" />

                 </node>
				 -->
				 
				 <node   pkg="gmapping"   type="slam_gmapping" name="mapping" output="screen">
                   <param name="scan" value="/sick_safetyscanners/scan" />
                   <param name="base_frame" value="base_link"/>
                   <param name="odom_frame" value="odom"/>
                  <!--
				   <param name="map_update_interval" value="0.1" />
                   <param name="delta" value="0.2 "/>
                   <param name="particle" value="5" />
                   <param name="iterations" value="1" />
					 <param name="maxUrange" value="10" />
                   <param name="maxRange" value="10" />
                   <param name="linearUpdate" value="0.1" />
                   <param name="xmin" value="-10" />
                   <param name="xmax" value="10" />
                   <param name="ymax" value="10" />
                   <param name="ymin" value="-10" />
-->
                  
                 </node>




</launch>

